body
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    max-width: 300px;
    margin: 0 auto;
  }

  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label input[type="radio"] {
    margin-right: 10px;
  }
  nav.title-container {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
  }
  input[type="submit"] {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  header h1 {
    font-size: 24px;
    margin: 0;
  }
  